.wl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wl-texts {
    width: 65%;
}

.wl-title {
    font-size: 50px;
    font-weight: 600;
}

.wl-title-img {
    width: 5%;
    height: 5%;
    object-fit: cover;
}

.wl-desc {
    margin: 20px 0px;
}

.wl-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .wl {
        padding: 10px;
        margin-top: 50px;
    }    

    .wl-title {
        padding-top: 20px;
    }

    .wl-texts {
        width: 100%;
    }

    .wl-desc {
        display: none;
    }
}